results.csv
test.ipynb
todo.md
venv/
.env
logs/*
geodistance.bak
debug/
result_0101.csv
result_0501.csv
tree.md
.venv/
TODO.md
gadm41_POL_shp
gadm41_POL_shp.zip
ne_110m_admin_0_countries
Europe_coastline_shapefile
